.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 730px;
  margin: auto;
}
.form {
  margin-top: 1rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(124, 121, 121);
  min-height: 200px;
  padding: 15px 10px 20px;
}
.sub-title.left {
  text-align: left;
  margin-bottom: 15px;
}
